:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-bg-color: #E5E5E5;
    --primary-black-color: #000;
    --primary-white-color: #FFFFFF;
    --primary-red-color: #ED3237;
    --primary-text-red-hover-color: #981a1e;
    --primary-btn-red-hover-color: #c62a30;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

.link{
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: var(--primary-font-family);
    background-color: var(--primary-bg-color);
}

/* HEADER */

.header{
    border-bottom: 1px solid #7c7c7c;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header{
    margin-right: 500px;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-list-item {
    margin-right: 30px;
}

.nav-list-item:last-child {
    margin-right: 0px;
}

.nav-item {
    text-decoration: none;
    color: var(--primary-red-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.nav-item:hover,
.nav-item:focus{
    color: var(--primary-text-red-hover-color);
}

/* HEADER-END */

/* HERO */

.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 650px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url("/asiapost-website/img/hero-bg.jpg");
}

.hero-txt1{
    color: var(--primary-white-color);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.hero-txt2{
    font-weight: 500;
    font-size: 26px;
    line-height: 1.31;  
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.modal-button {
    display: flex;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-red-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

.modal-button:hover,
.modal-button:focus{
    background-color: var(--primary-btn-red-hover-color);
}

/* HERO-END */



/* ABOUT */

.about-us{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.about-us-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: var(--primary-red-color);
}

.ab-us-desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    margin-top: auto;
    margin-bottom: 30px;
}

/* ABOUT - END */

/* SERVICES */

.services{
    text-align: center;
    max-width: 1600px;
    min-height: 650px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: var(--primary-red-color);
}

.services-desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    margin-top: auto;
    margin-bottom: 30px;   
}

.services-form-title{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: var(--primary-red-color);
}

.form-label{
    display: block;
    margin-bottom: 5px;
}

.form-input{
    width: 350px;
    height: 30px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5; 
    color: var(--primary-black-color);
    background-color: var(--primary-white-color);
    background-clip: padding-box;
    border: 1px solid #6b6b6b;
    border-radius: 4px 4px 4px 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 10px;
}

.form-input-request{
    width: 350px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5; 
    color: var(--primary-black-color);
    background-color: var(--primary-white-color);
    background-clip: padding-box;
    border: 1px solid #6b6b6b;
    border-radius: 4px 4px 4px 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 15px;
}

.modal-button-form{
    display: flex;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-red-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

.modal-button-form:focus,
.modal-button-form:hover{
    background-color: var(--primary-btn-red-hover-color);
}